<style>
  .flash {
    color: red;
    font-size: 20px;
  }
</style>

<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<h2>List of Inventions</h2>

<% @slugs.each do |slug| %>
  <div class="invention">
  <a href="/inventions/<%=slug%>"><%= Invention.find_by_slug(slug).name %></a>
  <p><%= Invention.find_by_slug(slug).description %></p>
  </div>
<% end %>

<br>

<p><a href="/inventions/new">Click here to file a New Invention</a></p>
