<h2>Welcome to the Home Page of the Virtual Patent and Trademark Office!</h2>

<br>

<p><a href="/login">Please click here to log in</a></p>

<p><a href="/signup">Please click here to create a new account</a></p>
