<h2>Welcome to the Virtual Patent and Trademark Office!</h2>

<br>

<p><a href="/inventions">To view the list of inventions, click here</a></p>

<p><a href="/inventors">To view the list of inventors, click here</a></p>
